.definitionLabel {
    font-size: 23px;
    text-align: center;
}

.menu {
    background-color: lightsteelblue;
}

.hidden {
    display: none;
}

#defineContainer {
    height: 200px;
    font-size: 23px;
}

#defineContainer>span {
    width: 250px;
}

.musagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.definition {
    margin: 20px;
    width: 163px;
    height: 37px;
    display: inline-block;
    text-align: center;
}

button {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #0C527A;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}