@font-face { font-family: Dense; src: url('Dense-Regular.otf'); }
@font-face { font-family: hillel;  src: url('hillelclm-medium-webfont.woff') format('woff');}

.definitionLabel {
    font-size: 38px;
    text-align: left;
    font-family: Dense, Arial;
    margin-left: calc(10% - 20px);
}

#defineContainer .definitionButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #484444;
    color: floralwhite;
    text-align: center;
    font-family: Dense, Arial;
}

.menu h1 {
    font-size: 50px;
    padding: 8px 0;
}

.definitionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#defineContainer>* {
    margin: 15px;
    display: inline-block;
    width: 40%;
    border: solid 1pt #FDFCFC;
    box-shadow:1px 1px 5px #333;
    height: 250px;
    text-align: right;
    padding: 9px 17px;
    font-family: hillel;
    background: #FDFBF8;
    border-radius: 5px;
    direction: rtl;
    letter-spacing: -1px;
}

#defineContainer {
    height: 300px;
    font-size: 23px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defineContainer.button label{
    display: none;
}

#defineContainer.button button{
    display: inline-block;
    text-align: center;
}

#defineContainer.label .definitionButton{
    display: none;
}

.musagContainer {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family: Dense;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #852174;
    padding: 4px 30px;
    outline: none;
    border: none;
}

body {
    margin: 0;
}