@font-face { font-family: Dense; src: url('Dense-Regular.otf'); }

.definitionLabel {
    font-size: 23px;
    text-align: center;
}

#defineContainer .definitionButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #484444;
    color: floralwhite;
    text-align: center;
    font-family: Dense, Arial;
}

.menu h1 {
    font-size: 50px;
    padding: 8px 0;
}

.definitionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#defineContainer>* {
    margin: 15px;
    display: inline-block;
    width: 40%;
    border: solid 1pt #E4E1E1;
    box-shadow:0px 0px 5px #333;
    height: 250px;
    text-align: right;
    padding: 5px;
    font-family: -webkit-pictograph;
    background: #FDFBF8;
    border-radius: 5px;
}

#defineContainer {
    height: 300px;
    font-size: 23px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defineContainer.button label{
    display: none;
}

#defineContainer.button button{
    display: inline-block;
    text-align: center;
}

#defineContainer.label .definitionButton{
    display: none;
}

.musagContainer {
    text-align: center;
    border: solid 3px #E4E1E1;
    margin: 10px 0;
    padding: 10px 0;
}

button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(12, 82, 122);
    padding: 9px 30px;
    outline: none;
}

body {
    margin: 0;
}